body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.text-box {
    display: flex;
    position: absolute;
    top: 52%;
    left: 60.83%;
    transform: translate(-50%, -50%);
    width: 24%;
    height: 31.5%;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 0.89vw;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    animation: type 1s steps(10000, end);
}

@keyframes type {
    from { width: 0; }
    to { max-width: 100%; }
}

.text-box::after {
    content: "|";
    animation: blink 0.5s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}
.text-box::-webkit-scrollbar {
    width: 15px;
}

.text-box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.text-box::-webkit-scrollbar-thumb {
    background-color: #8C0808;
    border-radius: 15px;
}

.text-box::-webkit-scrollbar-thumb:hover {
    background-color: #590404;
}
.exit-button {
    display: block;
    position: absolute;
    top: 26.45%;
    left: 74.9%;
    transform: translate(-50%, -50%);
    width: 2%;
    height: 3.5%;
    background: rgba(255, 255, 255,0);
    cursor: pointer;
    border: 2px solid transparent;
    z-index: 2;
}
.exit-button:hover {
background: rgba(255, 0, 0, 0.3);
}
.container {
    width: 100%;
    height: 100%;
    background-image: url('./4이미지/Frame 23.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    animation: flickerAnimation 0.15s infinite;
}
.homeBtn {
  width: 10vw;
  height: auto;
  max-width: 200px;
}
.homebtn {
    display: block;
    position: absolute;
    top: 87%;
    left: 74%;
    transform: translate(-200%, -200%);
    width: 0.01%;
    height: 0.01%;
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    border: 2px solid transparent;
    z-index: 2;
}
#glowCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@keyframes flickerAnimation {
0%   { opacity: 1; }
50%  { opacity: 0.9; }
100% { opacity: 1; }
}

@keyframes shakeAnimation {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-0.5px, -1px) rotate(-0.25deg); }
20% { transform: translate(-1.5px, 0px) rotate(0.25deg); }
30% { transform: translate(1.5px, 1px) rotate(0deg); }
40% { transform: translate(0.5px, -0.5px) rotate(0.25deg); }
50% { transform: translate(-0.5px, 1px) rotate(-0.25deg); }
60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
70% { transform: translate(1.5px, 0.5px) rotate(-0.25deg); }
80% { transform: translate(-0.5px, -0.5px) rotate(0.25deg); }
90% { transform: translate(0.5px, 1px) rotate(0deg); }
100% { transform: translate(0.5px, -1px) rotate(-0.25deg); }
}

body {
transition: opacity 0.5s ease-in-out;
background-color: #000;
overflow: hidden;
}
body.page-transition {
  opacity: 0;
}
@keyframes scanlines {
0% {
background-position: 0 0;
}
100% {
background-position: 0 -100vh;
}
}

body::after {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: repeating-linear-gradient(
transparent,
transparent 10px,
rgba(255, 255, 255, 0.05) 10px,
rgba(255, 255, 255, 0.05) 20px
);
animation: scanlines 20s ease-in-out infinite;
pointer-events: none;
}

.screen {
transition: opacity 0.3s ease-in-out;
}

*:hover > .screen {
opacity: 0.3;
}

.shake {
animation: shakeAnimation 0.3s 1;
}
